<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.-</key>
	<string>A</string>
	<key>-...</key>
	<string>B</string>
	<key>-.-.</key>
	<string>C</string>
	<key>-..</key>
	<string>D</string>
	<key>.</key>
	<string>E</string>
	<key>..-.</key>
	<string>F</string>
	<key>--.</key>
	<string>G</string>
	<key>....</key>
	<string>H</string>
	<key>..</key>
	<string>I</string>
	<key>.---</key>
	<string>J</string>
	<key>-.-</key>
	<string>K</string>
	<key>.-..</key>
	<string>L</string>
	<key>--</key>
	<string>M</string>
	<key>-.</key>
	<string>N</string>
	<key>---</key>
	<string>O</string>
	<key>.--.</key>
	<string>P</string>
	<key>--.-</key>
	<string>Q</string>
	<key>.-.</key>
	<string>R</string>
	<key>...</key>
	<string>S</string>
	<key>-</key>
	<string>T</string>
	<key>..-</key>
	<string>U</string>
	<key>...-</key>
	<string>V</string>
	<key>.--</key>
	<string>W</string>
	<key>-..-</key>
	<string>X</string>
	<key>-.--</key>
	<string>Y</string>
	<key>--..</key>
	<string>Z</string>
	<key>-----</key>
	<string>0</string>
	<key>.----</key>
	<string>1</string>
	<key>..---</key>
	<string>2</string>
	<key>...--</key>
	<string>3</string>
	<key>....-</key>
	<string>4</string>
	<key>.....</key>
	<string>5</string>
	<key>-....</key>
	<string>6</string>
	<key>--...</key>
	<string>7</string>
	<key>---..</key>
	<string>8</string>
	<key>----.</key>
	<string>9</string>
	<key>.-.-.-</key>
	<string>.</string>
	<key>--..--</key>
	<string>,</string>
	<key>/</key>
	<string> </string>
	<key>.----.</key>
	<string>&apos;</string>
</dict>
</plist>
